[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"

[packages]
flask = "*"
requests = "*"
pandas = "*"
mysql-connector-python = "*"
dash = "*"
numpy = "*"
plotly = "*"
gunicorn = "*"
flask-assets = "*"

[pipenv]
allow_prereleases = true
