{% extends "base.html" %} 
      {% block navbar %}
      <nav class="text-white text-base font-semibold pt-3">
        <a
          href="/dashapp"
          class="flex items-center text-white py-4 pl-6 nav-item"
        >
          <i class="far fa-clock mr-3"></i>
          Time Series Analysis
        </a>
        <a
          href="/forecasting"
          class="flex items-center  text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
        >
          <i class="fas fa-eye mr-3"></i>
          Forecasting
        </a>
        <a
          href="/map"
          class="flex items-center active-nav-link  text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
        >
          <i class="fas fa-globe-asia mr-3"></i>
          Map Pelanggaran
        </a>
      </nav>
      <a
        href="#"
        class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4"
      >
        <i class="fas fa-question-circle mr-3"></i>
        KoTA103 18
      </a>
    </aside>
{% endblock %}
{% block content %}
<div class="w-full overflow-x-hidden border-t flex flex-col">
      <main class="w-full flex-grow p-6">
          <h1 class="text-3xl text-black pb-6">Mapbox</h1>
         
         <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
    <!-- ChartJS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"
    ></script>
</div>
{% endblock %}
