<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/dist/main.css" />
    <title>Time Series & Forecasting Dashboard</title>
  </head>
  <body class="text-gray-800 antialiased no-scrollbar ">
    <!-- Navbar -->
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap  text-white"
            >Time Series Dashboard</a
          >

          <button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
      </div>
    </nav>
    <!-- Main Area -->
    <main>
      <!-- Hero -->
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 95vh"
      >
      <div
        class="absolute top-0 w-full h-full bg-top bg-cover"
        style="
          height: 100%;
          background-image: url('https://images.unsplash.com/photo-1530053969600-caed2596d242?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80');
        "
      >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-30 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto " data-aos="fade-in">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center" style="margin-top: 50px;">
              <div>
                <h1 class="my-4 text-3xl md:text-4xl text-white opacity-100 font-bold leading-tight text-center md:text-center">
                  Dashboard
                  <span class="bg-clip-text text-transparent bg-gradient-to-r text-rose-50"> Pelanggaran Laut</span>
                </h1>
                <p
                  class="mt-4 text-lg text-gray-200"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  style="margin-top: 50px; "
                >
                  Merupakan aplikasi web dashboard yang menyajikan data
                  pelanggaran laut secara time series analysis dan menyajikan
                  lokasi kejadian dalam bentuk mapbox.    
                </p>
              
                <a
                  href="/timeseries"
                  class="bg-green-500 hover:bg-green-700 text-white font-bold hover:text-white p-4 border border-cyan-700 hover:border-transparent rounded inline-block mt-5 cursor-pointer"
                  style="margin-top: 50px; margin-bottom: 150px;"
                  data-aos="fade-down-left"
                  >Lihat Dashboard</a
                >
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- About Section -->

   
      <section
        id="about"
        class="relative py-20 absolute top-0 w-full h-full bg-top bg-cover " style="
            background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80');
          "
      >

        <div class="container mx-auto px-4 text-white ">
          <div class="items-center flex flex-wrap">
            <div
              class="w-full md:w-4/12 ml-auto mr-auto px-4"
              data-aos="fade-right"
            >
              <img
                alt="..."
                class="mx-auto w-full md:w-4/5 transform -rotate-1 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"
                src="../static/assets/img/data analysis.png"
              />
            </div>
            <div
              class="w-full md:w-5/12 ml-auto mr-auto px-4"
              data-aos="fade-left"
            >
              <div class="md:pr-12">
                <h3 class="text-4xl  font-bold text-white">
                  Time Series
                  <span class="bg-clip-text text-transparent text-white"> Analysis</span>
                </h3>
                <p class="mt-4 text-lg leading-relaxed">
                  Time series analysis adalah metode analisis pola hubungan
                  antara suatu variabel dengan variabel waktu, prosesnya terbagi
                  menjadi 3 yaitu:
                </p>
                <ul class="list-none mt-6">
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="font-semibold inline-block py-3 mr-3 text-green-300"
                          ><i class="fas fa-chart-line fa-2x mx-auto w-full md:w-4/5 transform -rotate-1 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"></i
                        ></span>
                      </div>
                      <div>
                        <h4 class="text-xl">Trend Analyis</h4>
                      </div>
                    </div>
                    <p class="mt-4 text-lg leading-relaxed">
                      Analisis pada time series analysis untuk melihat apakah
                      ada pola naik turun pada dataset dalam kurun waktu
                      tertentu
                    </p>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="font-semibold inline-block py-3 mr-3 text-green-300"
                          ><i class="fas fa-chart-area fa-2x mx-auto w-full md:w-4/5 transform -rotate-1 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"></i
                        ></span>
                      </div>
                      <div>
                        <h4 class="text-xl">Seasonality Analysis</h4>
                      </div>
                    </div>
                    <p class="mt-4 text-lg leading-relaxed">
                      Analisis pada time series analysis untuk melihat apakah di
                      dalam dataset terdapat suatu pola yang terjadi hanya pada
                      waktu tertentu saja
                    </p>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="font-semibold inline-block py-3 mr-3 text-green-400"
                          ><i class="fas fa-eye fa-2x mx-auto w-full md:w-4/5 transform -rotate-1 transition hover:scale-105 duration-700 ease-in-out hover:rotate-2"></i
                        ></span>
                      </div>
                      <div>
                        <h4 class="text-xl">Forecasting</h4>
                      </div>
                    </div>
                    <p class="mt-4 text-lg leading-relaxed">
                      Suatu metode untuk memprediksi data di masa depan
                      berdasarkan data-data di masa lalu
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Trainers Section -->
      <section  class="relative py-20 absolute top-0 w-full h-full bg-top bg-cover " style="
            background-image: url('https://w.wallha.com/ws/5/4RVkq3bF.png');
          " >
        <div class="container mx-auto px-4 text-white">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold " data-aos="flip-right">Pelanggaran Laut</h2>
              <p class="text-lg leading-relaxed m-4" data-aos="flip-left">
                Adalah seluruh aktivitas oleh individu maupun kelompok yang
                melawan hukum dan terjadi di seluruh wilayah kelautan Indonesia.
                Diatur dalam UU Nomor 32 Tahun 2014 BAB IX ​
              </p>
            </div>
          </div>
          <!-- Trainer Card Wrapper -->
          <div class=" flex space-x-1 overflow-x-hidden ">
            
            <!-- Card 1 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller "
              data-aos="flip-right"
            >
              <div class="px-6 ">
                <img
                  alt="..."
                  src="https://img.okezone.com/content/2015/05/22/18/1153603/cari-imigran-gelap-malaysia-kerahkan-empat-kapal-militer-6cCQVlUEjp.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Imigran Illegal</h5>
                  <p class="mt-1 text-sm  font-semibold">
                    sekelompok orang yang masuk atau tinggal di sebuah negara
                    secara tanpa mengikuti undang-undang imigrasi
                  </p>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6 ">
                <img
                  alt="..."
                  src="https://www.spf.org/iina/en/global-data/user29/2021020109421533.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">IUU Fishing</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Illegal, Unreported And Unregulated (IUU) Fishing adalah
                    kegiatan perikanan yang melanggar
                    institusi pengelola perikanan yang berwenang,
                  </p>
                </div>
              </div>
            </div>
            <!-- Card 3 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://bloximages.newyork1.vip.townnews.com/postandcourier.com/content/tncms/assets/v3/editorial/8/ba/8ba4db3a-180c-11e9-ac94-0be157d932b2/5be34622b3246.image.jpg?resize=1200%2C800"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Pencurian BMKT</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Pencurian terhadap benda muatan kapal tenggelam (BMKT)
                    adalah Pengangkatan secara ilegal terhadap muatan harta pada
                    kapal yang tenggelam
                  </p>
                </div>
              </div>
            </div>
                        <!-- Card 4 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://disk.mediaindonesia.com/thumbs/1800x1200/news/2019/12/fea48975c8e7251f565a39a956048e3c.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Pelanggaran Batas</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Penyalahgunaan atau mengeksploitasi di suatu lingkup wilayah dimana suatu negara tidak memiliki hak 
                  </p>
                </div>
              </div>
            </div>
                        <!-- Card 5 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://assets-a1.kompasiana.com/items/album/2017/10/20/people-smuggling-59e996a548693267db2355d5.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Perdagangan Manusia</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Tindakan perekrutan, pengangkutan, penampungan, atau penerimaan seseorang dengan ancaman kekerasan
                  </p>
                </div>
              </div>
            </div>
                  <!-- Card 5 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://www.wired.com/images_blogs/dangerroom/2012/06/pirate_caught.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Perompakan</h5>
                  <p class="mt-1 text-sm   font-semibold">
                   Usaha perampokan yang dilakukan di lautan, atau kadang-kadang di pantai.
                  </p>
                </div>
              </div>
            </div>
                  <!-- Card 5 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://www.matamatapolitik.com/wp-content/uploads/sites/2/2020/07/maxresdefault-8.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Pertikaian di Laut</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Konflik antara beberapa pihak yang terjadi di lautan
                  </p>
                </div>
              </div>
            </div>
                  <!-- Card 5 -->
            <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://bingar.id/wp-content/uploads/2020/09/antarafoto-sampah-di-pantai-110820-bcs-7-scaled.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Perusakan ekosistem</h5>
                  <p class="mt-1 text-sm   font-semibold">
                   Tindakan perusakan ekosistem baik secara langsung maupun tidak langsung
                  </p>
                </div>
              </div>
            </div>
                        <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Edward_England.svg/2000px-Flag_of_Edward_England.svg.png"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Piracy</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Upaya pembajakan terhadap harta laut 
                  </p>
                </div>
              </div>
            </div>
                        <div
              class="w-full md:w-4/12 lg:mb-0 mb-12 px-4 scroller"
              data-aos="flip-right"
            >
              <div class="px-6">
                <img
                  alt="..."
                  src="https://media.mehrnews.com/d/2019/06/13/4/3152934.jpg"
                  class="shadow-lg rounded mx-auto my-auto  transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-3"
                  style="max-width: 250px; max-height: 250px"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Sabotase</h5>
                  <p class="mt-1 text-sm   font-semibold">
                    Tindakan mengambil alih yang illegal dan terjadi di lautan
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        id="about"
        class="relative py-20 absolute top-0 w-full h-full bg-top bg-cover " style="
            background-image: url('../static/assets/img/header.png');
          "
      >
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-900 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4" >
              <h2 class="my-4 text-3xl md:text-4xl text-white opacity-75 font-bold leading-tight text-center md:text-center text-white " data-aos="fade-up"
                data-aos-anchor-placement="center-center">Heatmap <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-orange-500 to-red-500"
            >
              Pelanggaran Laut
            </span></h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-200" data-aos="fade-zoom-in"
              data-aos-easing="ease-in-back"
              data-aos-delay="300"
              data-aos-offset="0">
                Menggunakan data latitude dan longitude dari pelanggaran laut, maka dibuatlah sebuah heatmap untuk menggambarkan sebaran kasus pelanggaran laut yang terjadi di indonesia dari rentang tahun 2014-2019
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-left">
            <div class="w-full lg:w-3/12 mx-20 text-center">
             <img
                  alt="..."
                  src="https://upload.wikimedia.org/wikipedia/commons/8/88/Letak_Laut_Banda_.png"
                  class="transform -rotate-0 transition hover:scale-105 duration-700 ease-in-out hover:rotate-1"
                  style="max-width: 1100px; max-height: 800px; margin-left:0px"
              />
          </div>
        </div>

      
    </main>

    <!-- Footer -->
    <footer class="relative bg-gray-300 pt-8 pb-6">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0px)"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
        
      </div>

      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
    
          </div>
        </div>
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Copyright © KoTA103
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle('hidden')
      document.getElementById(collapseID).classList.toggle('block')
    }
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"
  ></script>
  <script>
    AOS.init({
      delay: 200,
      duration: 1200,
      once: false,
    })
  </script>
</html>
